version: "3"
services:
    db:
        # MySQL Image used for the database
        image: mysql
        ports:
            - "${MYSQL_PORT}:3306"
        volumes:
            - ./database:/var/lib/mysql

    phpmyadmin:
        image: phpmyadmin
        ports:
            - "8080:80" # Expose PHPMyAdmin on port 8080
        depends_on:
            - db
        environment:
            PMA_HOST: db
        networks:
            - dev_network
        hostname: phpmyadmin.dev

    portfolio-site:
        # Your portfolio site container configuration
        container_name: portfolio-site
        build:
            context: .
            dockerfile: Dockerfile
        user: "node"
        environment:
            - NODE_ENV=production
            - TZ=Europe/Amsterdam
        env_file:
            - .env
        restart: unless-stopped
        ports:
            - "80:3000"
        command: ["node", "build/index.js"]

    portfolio-api:
        # Your API container configuration
        container_name: portfolio-api
        build:
            context: .
            dockerfile: Dockerfile
        user: "node"
        environment:
            - NODE_ENV=production
            - PORT=3001
            - TZ=Europe/Amsterdam
        env_file:
            - .env
        restart: unless-stopped
        ports:
            - "3001:3001"
        command: "node app.cjs"
        networks:
            default:
                aliases:
                    - api.dev

    nginx:
        image: nginx
        ports:
            - "8080:8080"
        volumes:
            - ./nginx.conf:/etc/nginx/conf.d/default.conf
        depends_on:
            - portfolio-api
            - phpmyadmin
        networks:
            default:
                aliases:
                    - nginx.dev
