version: "3"
services:
    db:
        image: mysql
        ports:
            - "${MYSQL_PORT}:3306"
        volumes:
            - ./database:/var/lib/mysql

    phpmyadmin:
        image: phpmyadmin
        ports:
            - "8080:80"
        depends_on:
            - db
        environment:
            PMA_HOST: db

    portfolio-site:
        container_name: portfolio-site
        build:
            context: .
            dockerfile: Dockerfile
        user: "node"
        environment:
            - NODE_ENV=production
            - TZ=Europe/Amsterdam
        env_file:
            - .env
        restart: unless-stopped
        ports:
            - "3000:3000"
        command: ["node", "build/index.js"]

    portfolio-api:
        container_name: portfolio-api
        build:
            context: .
            dockerfile: Dockerfile
        user: "node"
        environment:
            - NODE_ENV=production
            - PORT=3001
            - TZ=Europe/Amsterdam
        env_file:
            - .env
        restart: unless-stopped
        ports:
            - "3001:3001"
        command: "node app.cjs"

    nginx:
        image: nginx
        volumes:
            - ./nginx.conf:/etc/nginx/nginx.conf
        ports:
            - "80:80"
        depends_on:
            - phpmyadmin
            - portfolio-api
            - portfolio-site
